* {
    box-sizing: border-box
}
.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}
body {
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 1.5em;
    font-family: RobotoDraft, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    position: relative
}
.footer, .header, .marketing {
    padding-left: 15px;
    padding-right: 15px
}
.header {
    border-bottom: 1px solid #e5e5e5
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #fff
}
.panel ul.experience, .panel ul.skills-abilities, .panel-formatting, ul.racing {
    margin: 0 0 0 20px;
    list-style-type: none;
    position: relative;
    padding: 10px 24px
}
.panel ul.skills-abilities li:before {
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    left: 2px
}
.panel ul.experience li:before {
    font-family: FontAwesome;
    content: "\f046";
    position: absolute;
    left: 2px
}
.panel .panel-title {
    font-size: 20px;
    font-weight: 700
}
.panel .fa-arrow-up.right {
    float: right
}
ul.racing li:before {
    font-family: FontAwesome;
    content: "\f11e";
    position: absolute;
    left: 2px
}
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5
}
.footer ul {
    list-style-type: none;
    text-align: center;
    font-weight: 700;
    padding: 0
}
.footer ul li {
    display: inline-block;
    padding: 0 10px
}
.container-narrow>hr {
    margin: 30px 0
}
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5
}
.jumbotron h2 {
    font-family: consolas
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px
}
.jumbotron ul {
    list-style-type: none;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0
}
.jumbotron ul li {
    display: inline-block;
    padding: 0 10px
}
.marketing {
    margin: 40px 0
}
.marketing p+h4 {
    margin-top: 28px
}

@media screen and (max-width: 800px) {
    .timesheet-container {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .timesheet {
        width: 800px;
    }
    .timesheet .data {
        overflow: visible !important;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 960px
    }
    .footer, .header, .marketing {
        padding-left: 0;
        padding-right: 0
    }
    .header {
        margin-bottom: 30px
    }
    .jumbotron {
        border-bottom: 0
    }
}
@media screen and (max-width: 568px) {
    h2 {text-align: center;}
    div[data-twttr-id=twttr-sandbox-0] {
        text-align: center;
        padding-top: 30px;
    }
    .panel ul.experience, .panel ul.skills-abilities, .panel-formatting, ul.racing {
        margin: 0
    }
}
@media screen and (max-width: 350px) {
    .footer ul li { padding: 0; }
}
